[Desktop Entry]
Version=1.0
Type=Application
Name=Ruston Mail
GenericName=Mail Client
Comment=Unofficial native desktop client for Proton Mail
Exec=ruston %u
Icon=com.luiscuellar.ruston-mail
Terminal=false
Categories=Network;Email;
MimeType=x-scheme-handler/mailto;
StartupWMClass=ruston
